# Deny Baidu
SetEnvIfNoCase User-Agent "^Baidu" bad_bot
SetEnvIfNoCase User-Agent "^sogou" bad_bot
SetEnvIfNoCase User-Agent "^Bloghoo" bad_bot
SetEnvIfNoCase User-Agent "^Scooter" bad_bot
Deny from env=bad_bot

# Deny Google
SetEnvIf User-Agent "^Googlebot" google
Deny from env=google

# Disable Indexes
Option -Indexes